body {
    font-family: "Open Sans", sans-serif;
}

h1, h2,h3 {
    font-family: "Sans-serif", "Verdana";
}

h2 {
    color: #000000;
}

header h2 {
    color: #CEC8FF;
}


.jumbotron {
    margin: 0;
    padding: 10px;
    color: white;
    background-color: rgb(16, 16, 127);
}

.navbar {
    background-color: rgb(115, 176, 212);
}
ul {
    background-color: rgb(115, 176, 212);
}

.card {
margin: 20px;
border: 15px;
}